.button {
  display: inline-block;
  transition: all, 0.4s ease;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
  background-color: $button-color;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  color: $text-color;
  border: none;
}
.btn--purple {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  background: $main-color;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  margin-right: 16px;
  border: none;
}
.button--transpernt {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  background: #f7f7f7;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  color: $dark;
  border: none;
}
.button:hover {
  opacity: 0.8;
  background-color: $text-color;
  border: 1px solid $button-color;
  color: $button-color;
}
.button:active {
  transition: 1s ease;
  opacity: 0.6;
  background-color: $button-color;
  color: $text-color;
}
.btn--purple:hover {
  transition: 0.5s ease;
  background-color: transparent;
  border: 1px solid $main-color;
  color: $main-color;
  letter-spacing: 0.25px;

  color: $main-color;
}
.button--transpernt:hover {
  transition: 0.5s ease;
  background-color: transparent;
  border: 1px solid $dark;
  color: $dark;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.btn--purple:active {
  transition: 0.8s;
  background: $main-color;
  opacity: 0.6;
}
.button--transpernt:active {
  transition: 0.8s ease;
  background-color: #f7f7f7;
  opacity: 0.6;
}
.hamburger-menyu-btn {
  padding: 4px;
  margin-left: auto;
  border: none;
}
@media only screen and (max-width: 1200px) {
  .btn--purple {
    margin-bottom: 16px;
    padding: 10px 16px;
  }
}
