html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
/* scroll width */
.element::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.element::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle  style*/
.element::-webkit-scrollbar-thumb {
  background: rgba(96, 96, 96, 0.5);
  border-radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
ul,
li,
a {
  text-decoration: transparent;
  list-style-type: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Rubik", "sans-serif";
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
