.hero {
  display: flex;
  margin-bottom: 76px;
  &__left {
    max-width: 540px;
    margin-top: 76px;
  }
  &__left--head {
    margin-bottom: 24px;
  }
  &__left--desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #242a45;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  &__right {
    max-width: 486px;
  }
  &__left--buttons {
    display: flex;
  }
}
@media only screen and (max-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    &__lefr {
      min-width: 311px;
    }
    &__left--head {
      font-size: 30px;
      line-height: 40px;
      /* or 133% */

      text-align: center;
      letter-spacing: -0.09375px;

      color: #242a45;
    }
  }
  .hero__left--buttons {
    display: flex;
    flex-direction: column;
  }
}
